<div class="relative bg-background">
  <div class="mx-auto px-5">
    <div class="flex items-center justify-between py-3.5 md:justify-start">
      <!-- Mobile Navigation Menu Button-->
      <div class="sm:order-1 md:hidden">
        <button
          (click)="toggleMobileMenu()"
          type="button"
          class="inline-flex items-center justify-center rounded-md bg-primary p-2 text-primary-foreground focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary hover:bg-muted-foreground hover:text-muted"
          aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg-icon src="assets/icons/heroicons/outline/menu.svg" [svgClass]="'h-6 w-6'"> </svg-icon>
        </button>
      </div>

      <!-- Logo -->
      <div class="flex items-center justify-start sm:order-2 md:mr-10 lg:hidden">
        <b class="ml-1 pl-2 text-2xl font-bold text-primary"> BRICKS </b>
      </div>

      <!-- Desktop Menu -->
      <div class="hidden space-x-10 sm:order-3 md:flex">
        <app-navbar-menu></app-navbar-menu>
      </div>

      <!-- Profile menu -->
      <div class="items-center justify-end sm:order-5 md:flex md:flex-1 lg:w-0">
        <div class="flex">
          <button class="p-2 text-primary" (click)="changeSize()">Aa</button>
        </div>
        <div class="flex">
          <label class="relative text-muted-foreground">
            <div class="absolute left-2.5 top-2.5">
              <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
            </div>
            <input name="search" class="py-2 pl-8 pr-2" placeholder="Search users" type="text" value="" />
          </label>
        </div>
        <app-profile-menu></app-profile-menu>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <app-navbar-mobile></app-navbar-mobile>
</div>
